@import url("https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&family=Montserrat:wght@300;400;600;800&display=swap");

// colors
$black: #252122;
$blue: #172553;
$gold: #be8723;
$green: #48c36b;
$gray: #e7e8ee;
$periwinkle: #538fe4;
$periwinkle-alt: #436cde;

// fonts
$anton: "Anton", sans-serif;
$covered: "Covered By Your Grace", cursive;
$montserrat: "Montserrat", sans-serif;
$helvetica: "Helvetica Neue", sans-serif;
p,
li,
a {
  font-size: 18px;
  color: inherit;
  font-size: 1rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
