@import url("https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&family=Montserrat:wght@300;400;500;600;800&display=swap");

// colors
$black: #252122;
$blue: #172553;
$gold: #be8723;
$green: #48c36b;
$gray: #e7e8ee;
$periwinkle: #538fe4;
$periwinkle-alt: #436cde;

// fonts
$anton: "Anton", sans-serif;
$covered: "Covered By Your Grace", cursive;
$montserrat: "Montserrat", sans-serif;
$helvetica: "Helvetica Neue", sans-serif;
p,
li,
a {
  font-size: 18px;
  color: inherit;
  font-size: 1rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// Headings
.heading-lg {
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.heading-md {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.heading-sm {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

.hero-heading {
  font-style: 4rem;
  font-family: $anton;
  color: white;
}

%anton-blue {
  font-family: $anton;
  color: $blue;
}

.paragraph {
  font-family: $montserrat;
  font-size: 0.75rem;
  font-style: normal;
}
