.donate-hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  &__screen {
    background-color: rgba($blue, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }
  &__copy {
    position: relative;
    z-index: 4;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 8rem 3rem;
    &--bold {
      text-transform: uppercase;
      //     position: relative;
      //     z-index: 3;
      p {
        font-family: $anton;
        font-size: 2.5rem;
        // padding: 2px 16px;
        margin: 0;
        line-height: 1;
        margin-bottom: 2rem;
      }
    }
    &--subtitle {
      p {
        font-family: $montserrat;
        font-size: 0.75rem;
        max-width: 300px;
        font-weight: 400;
      }
    }
  }
}

.donate-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  z-index: 5;
  background-image: url("public/SVGs/DottedLine_DonatePage.svg");
  background-size: contain;
  background-repeat: no-repeat;
  .donate-content > div {
    // padding: 2rem;
  }
  .donate-item {
    margin: -8rem 0 0 0;
    &:nth-child(1) {
      align-self: flex-end;
      margin-right: -100px;
      position: relative;
      .notepaper {
        position: relative;
        z-index: 3;
      }

      img {
        max-width: 250px;
        position: absolute;
        bottom: -160px;
        right: -30px;
        z-index: 2;
      }
    }
    &:nth-child(2) {
      margin-top: -12rem;
    }
    &:nth-child(3) {
      align-self: flex-start;
      margin-right: -100px;
      margin-top: -40px;
      margin-bottom: 200px;
      transform: rotate(-10deg);
    }
    &:nth-child(4) {
      align-self: flex-end;
      margin-top: -26rem;
      margin-bottom: 6rem;
      position: relative;
      img.blue-lines {
        max-width: 250px;
        position: absolute;
        bottom: -180px;
        right: -120px;
      }
    }
    &:nth-child(5) {
      align-self: flex-start;
      position: relative;
      z-index: 2;
      margin-bottom: 260px;
      img.black-lines {
        position: absolute;
        max-width: 300px;
        z-index: 1;
        bottom: -300px;
        left: -75px;
      }
    }
    &:nth-child(6) {
      align-self: flex-end;
      color: $periwinkle-alt;
      margin: 2rem;
      margin-top: -450px;
      h2 {
        font-family: $anton;
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        margin-bottom: 0.25rem;
      }
      p {
        font-family: $montserrat;
        font-size: 0.75rem;
        font-weight: 500;
        margin: 0 0 2rem 0;
      }
      .form-options {
        font-family: $montserrat;
        font-weight: 600;
        display: flex;
        margin-bottom: 2rem;
        text-transform: uppercase;
        div {
          border-left: 2px solid $black;
          border-top: 2px solid $black;
          border-bottom: 2px solid $black;
          padding: 1rem 1.5rem;
        }
        div:nth-child(4) {
          background-color: $periwinkle-alt;
          color: white;
          border: $periwinkle-alt;
        }
      }
    }
  }
  .notepaper {
    margin: 2rem;
    background-image: url("public/SVGs/notepaper-blank.svg");
    background-size: cover;
    max-width: 400px;
    p {
      font-family: $covered;
      color: $periwinkle-alt;
      font-size: 1.5rem;
      padding: 2rem;
      max-width: 300px;
    }
    &:nth-child(odd).notepaper {
      transform: rotate(5deg);
    }
  }
  .picture-caption {
    margin: 2rem;
    max-width: 400px;
    font-family: $montserrat;
    p.description {
      font-size: 0.65rem;
      max-width: 300px;
      color: $blue;
    }

    &__heading {
      color: $blue;
      font-family: $anton;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
    }
  }
}
