.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  max-height: 32px;
  font-family: $montserrat;
  position: relative;
  z-index: 5;
  background-color: $blue;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    transform: scale(1.4);
  }
  &__header {
    &--container {
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    color: $green;
    font-family: $montserrat;
    text-transform: uppercase;
  }
  &__logo {
    position: relative;
    z-index: 4;
    transform: translateY(64px);
  }
  &__ul {
    display: flex;
    color: $gold;
    position: relative;
    z-index: 4;

    li {
      color: white;
      &:nth-child(2) {
        color: $gold;
      }
      &::after {
        content: url("public/SVGs/Arrow.svg");
      }
    }
  }
  li {
    padding: 8px;
    text-transform: uppercase;
    img {
      padding: 2px 6px 0;
    }
  }
}
